.modalMint {
    height: 100vh;
    width: 100%;
	background-color: rgba(0, 0, 0, 0.786);
    display: flex;
    align-items: center;
    justify-content: center;
}

.block {
    position: relative;
	width: 800px;
	height: 450px;
	background: linear-gradient(0deg, #000, #272727);
}

.block:before, .block:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
		#0000ff, #00ff00,#ffff00, #ff0000);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 20s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.block:after {
	filter: blur(50px);
}

.btn-container {
	display: flex;
	flex-direction: row;
	gap: 50px;
}

.counter {
	border: 2px solid #444;
	color: white;
	font-size: 1rem;
	width: 180px;
	height: calc(58px - 1.2px);
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
  
.counter1 {
	grid-column: 1 / 2;
	background-color: #444;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
  
.counter2 {
	width: 100%;
	height: 100%;
	grid-column: 2 / 3;
	text-align: center;
	font-size: 1rem;
	border: none;
	background-color: transparent;
	color: white;
	appearance: textfield;
}
  
.counter2:focus {
	outline: none;
}

.counter2::-webkit-inner-spin-button, 
.counter2::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
  
  
.counter3 {
	grid-column: 3 / 4;
	background-color: #444;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center; 
	cursor: pointer;
}
  
  
  



.btn-mint {
    width: 180px;
    height: 60px;
    text-decoration: none;
    background: #00FFA3;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
	border: 2px solid rgb(29, 66, 0);
	font-family: "Orbitron", sans-serif;
    font-weight: 800;
    font-size: 1rem;
    text-transform: uppercase;
	color: black;
}

.btn-mint:hover {
    background: #00925d;
	border: 2px solid white;
}