<section class="modalMint" (click)="closeModal()">
    <div class="block" (click)="stopEvent($event)" [class.success]="success">

        <div *ngIf="!success">
            <div class="line">
                <p>Total Minted : </p>
                <p>{{ actualSupply }} / 20000</p>
            </div>

            <div class="line">
                <p>Current Sale Minted : </p>
                <p>{{ actualSupply }} / 20000</p>
            </div>

            <div class="line">
                <p>Price : </p>
                <p>0.0125 ETH</p>
            </div>

            <div class="line">
                <p>Basket Price : </p>
                <p>{{ counterValue * 0.0125 | number: '1.4-4'}} ETH</p>
            </div>
        </div>
        
        <div *ngIf="!success" class="btn-message">
            <div class="btn-container">
                <div class="counter">
                    <span class="counter1" (click)="decrease()">-</span>
                    <input class="counter2" type="number" [(ngModel)]="counterValue" (change)="onInputChange()"/>
                    <span class="counter3" (click)="increase()">+</span>
                </div>

                <button *ngIf="!isLoading" (click)="mintNFT(counterValue)" class="btn-mint">
                    <span>Mint</span>
                </button>
                <div *ngIf="isLoading" class="loading-spinner btn-mint">
                    <span>Loading...</span>
                </div>
            </div>

            <div *ngIf="!discover" class="message-container">
                <div *ngIf="errorMessage" class="message error-message">
                    {{ errorMessage }}
                </div>
                <div *ngIf="successMessage" class="message success-message">
                    {{ successMessage }}
                </div>
            </div>
        </div>

                                                    <!------------ AFTER MINT ------------>

        <div *ngIf="discover" class="after-mint" [@fadeInOut]  (mousedown)="onMouseDown($event)"
        (mouseup)="onMouseUp()"
        (mouseleave)="onMouseUp()" 
        (mousemove)="onMouseMoveDrag($event)">
            <div>
                <video *ngIf="isAnimationPlaying" class="background-video" autoplay muted playsinline (ended)="stopVideo()">
                    <source src="reveal1.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div>
                <video *ngIf="isLegendaryVideoPlaying" class="background-video" autoplay muted playsinline (ended)="stopVideo()">
                    <source src="legendaryEffect.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="card-container" [ngClass]="{'interactive': isInteractive}">    
                <div class="box">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>

                    <div class="card-face front">
                        <img [class.blurred]="!isUnblurred" class="nft-adn" 
                            [src]="'data:image/png;base64,' + mintedNfts[tokenIndex].image" 
                            alt="NFT Image">
                    </div>
                    <div class="card-face back">
                        <img class="nft-adn" src="FoxyLogo.jpeg" alt="Foxy Logo">
                    </div>
                    <div class="card-face left"></div>
                    <div class="card-face right"></div>
                    <div class="card-face top"></div>
                    <div class="card-face bottom"></div>
                </div>
            </div>
            
            <div class="metadata-container"> 
                <div class="next-block">
                    <button *ngIf="showButton" (click)="DiscoverEffect()" class="btn-play">Discover my NFT<span *ngIf="mintedNfts.length > 1"> ( {{ tokenIndex + 1 }} / {{ mintedNfts.length }} )</span></button>
                </div>
                
                <div class="attributs">
                    <div *ngIf="showMetadata" class="attributes-if">
                        <div *ngFor="let attribute of mintedNfts[tokenIndex]?.metadata?.attributes; let i = index" class="metadata-block" [ngClass]="{'gold-border': attribute.value === '1' || attribute.value === '2' || attribute.value === '3'}"> <!-- bordures marchent pas -->
                            <span>{{ attribute.trait_type }}</span>
                            <p>{{ attribute.value }}</p>
                        </div>    
                    </div>
                </div>

            </div>
        </div>


        
    </div>
</section>