<section class="modalMint" (click)="closeModal()">
    <div class="block" (click)="stopEvent($event)" [class.success]="success" [class.closeAnimation]="closeAnimation">

        <div *ngIf="!success && !creatingNftLoading && !errorAfterMint">
            <div class="line">
                <p>Total Minted : </p>
                <p>{{ actualSupply }} / 20000</p>
            </div>

            <div *ngIf="!isAllowList" class="line">
                <p>Current Sale Minted : </p>
                <p>{{ saleMintLimit === 0 ? "None" : currentSaleMinted + " / " + saleMintLimit}}</p>
            </div>

            <div *ngIf="isAllowList" class="line">
                <p>Tokens remaining to mint : </p>
                <p>{{ numAvailableToMint == 0 ? "None" : numAvailableToMint }}</p>
            </div>

            <div *ngIf="!isAllowList" class="line">
                <p>Price :</p>
                <p>{{ mintPrice }} ETH</p>
            </div>

            <div *ngIf="isAllowList" class="line">
                <p>Price {{ isPrivateSaleActive ? "(private sale)" : "" }}:</p>
                <p>{{ isPrivateSaleActive ? privateMintPrice : mintPrice }} ETH</p>
            </div>

            <div *ngIf="!isAllowList" class="line">
                <p>Basket Price : </p>
                <p>{{ counterValue * mintPrice | number: '1.4-4'}} ETH</p>
            </div>

            <div *ngIf="isAllowList" class="line">
                <p>Basket Price : </p>
                <p>{{ counterValue * (isPrivateSaleActive ? privateMintPrice : mintPrice) | number: '1.4-4'}} ETH</p>
            </div>
        </div>

                            <!------------ LOAD MINT ------------>

        <div *ngIf="creatingNftLoading" class="loading">
              <img src="load.gif" alt="Loading"/>
              <p>Red panda in creation...</p>
        </div>
                            <!------------ ERROR CRATING NFT ------------>

        <div *ngIf="errorAfterMint" class="errorAfterMint">
            <img src="ErrorAfterMint.png" alt="Error"/>
            <p>An error occurred during the creation of the NFT, but don't worry, your NFT is still in your wallet, just the red panda is not yet part of the family</p>
      </div>
                            <!------------ MINT ------------>

        <div *ngIf="!success && !errorAfterMint" class="block-btn">
            <div *ngIf="!creatingNftLoading" class="btn-container">
                <div class="counter">
                    <span class="counter1" (click)="decrease()">-</span>
                    <input class="counter2" type="number" [(ngModel)]="counterValue" (change)="onInputChange()"/>
                    <span class="counter3" (click)="increase()">+</span>
                </div>

                <button *ngIf="!isLoading" (click)="mintNFT(counterValue)" class="btn-mint">
                    <span>Mint</span>
                </button>
                <div *ngIf="isLoading" class="loading-spinner btn-mint">
                    <span>Loading...</span>
                </div>
            </div>

            <div *ngIf="!discover && !errorAfterMint" class="message-container">
                <div *ngIf="errorMessage" class="message error-message">
                    {{ errorMessage }}
                </div>
                <div *ngIf="successMessage && creatingNftLoading" class="message success-message">
                    {{ successMessage }}
                </div>
            </div>
        </div>

                            <!------------ AFTER MINT ------------>


        <div *ngIf="discover" class="after-mint" [@fadeInOut]>
            <div>
                <video *ngIf="lightBackgroundAnimation" class="background-video" autoplay muted playsinline (ended)="stopVideo()">
                    <source src="reveal.mp4" type="video/mp4">
                </video>
            </div>
            <div>
                <video *ngIf="effect !== ''" class="{{ effect }}" autoplay muted playsinline>
                    <source src="{{ effect }}Effect.mp4" type="video/mp4">
                </video>
            </div>
            <div class="card-container">
                <div class="box" (mousemove)="onMouseMove($event)"(mouseleave)="onMouseLeave()">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
              
                    <div class="card-background"></div>
                    <div class="card-face front">
                        <img [class.blurred]="!isUnblurred" id="nft" class="nft-adn" 
                            [src]="'data:image/png;base64,' + mintedNfts[tokenIndex].image" 
                            alt="NFT Image">
                    </div>
                    <div class="card-background back"></div>
                    <div class="card-face back">
                        <img class="nft-adn" src="FoxyLogo.jpeg" alt="Foxy Logo">
                    </div>
                    <div class="card-face left"></div>
                    <div class="card-face right"></div>
                    <div class="card-face top"></div>
                    <div class="card-face bottom"></div>
                </div>
            </div>
              
            
            <div class="metadata-container"> 
                <div class="next-block">
                    <p *ngIf="showMetadata" class="tokenId">{{ mintedNfts[tokenIndex].metadata.name }}</p>
                    <button *ngIf="showAddWalletButton && showButton" (click)="animateButton($event); addNFT()" class="btn-play">Add to my wallet</button>
                    <button *ngIf="!showAddWalletButton && showButton" (click)="animateButton($event); discoverNFT()" class="btn-play">Discover my NFT<span *ngIf="mintedNfts.length > 1"> ( {{ tokenIndex + 1 }} / {{ mintedNfts.length }} )</span></button>
                </div>
                
                <div class="attributs">
                    <div *ngIf="showMetadata" class="attributes-if">
                        <div *ngFor="let attribute of mintedNfts[tokenIndex]?.metadata?.attributes; let i = index" class="metadata-block" 
                        [ngClass]="getTraitRarity(attribute.value, attribute.trait_type) + '-border'">
                            <span>{{ attribute.trait_type }}</span>
                            <p>{{ attribute.value }}</p>
                            <video *ngIf="getTraitRarity(attribute.value, attribute.trait_type) === 'legendary' ? true : false" autoplay muted loop>
                                <source src="metaGold.mp4" type="video/mp4">
                            </video>
                        </div>    
                    </div>
                </div>

            </div>
        </div>


        
    </div>
</section>