<section class="modalMint" (click)="closeModal()">
    <div class="block" (click)="stopEvent($event)" [class.success]="success">

        <div *ngIf="!success">
            <div class="line">
                <p>Total Minted : </p>
                <p>{{ actualSupply }} / 20000</p>
            </div>

            <div class="line">
                <p>Current Sale Minted : </p>
                <p>{{ actualSupply }} / 20000</p>
            </div>

            <div class="line">
                <p>Price : </p>
                <p>0.0125 ETH</p>
            </div>

            <div class="line">
                <p>Basket Price : </p>
                <p>{{ counterValue * 0.0125 | number: '1.4-4'}} ETH</p>
            </div>
        </div>
        
        <div *ngIf="!success" class="btn-message">
            <div class="btn-container">
                <div class="counter">
                    <span class="counter1" (click)="decrease()">-</span>
                    <input class="counter2" type="number" [(ngModel)]="counterValue" (change)="onInputChange()"/>
                    <span class="counter3" (click)="increase()">+</span>
                </div>

                <button *ngIf="!isLoading" (click)="mintNFT(counterValue)" class="btn-mint">
                    <span>Mint</span>
                </button>
                <div *ngIf="isLoading" class="loading-spinner btn-mint">
                    <span>Loading...</span>
                </div>
            </div>

            <div *ngIf="!discover" class="message-container">
                <div *ngIf="errorMessage" class="message error-message">
                    {{ errorMessage }}
                </div>
                <div *ngIf="successMessage" class="message success-message">
                    {{ successMessage }}
                </div>
            </div>
        </div>

                                                    <!------------ AFTER MINT ------------>

        <div *ngIf="discover" class="after-mint" [@fadeInOut]>
            <div>
                <video *ngIf="isAnimationPlaying" class="background-video" autoplay muted playsinline (ended)="stopVideo()">
                    <source src="reveal1.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div>
                <video *ngIf="isLegendaryVideoPlaying" class="background-video" autoplay muted playsinline (ended)="stopVideo()">
                    <source src="legendaryEffect.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="card-container">    
                <div class="box">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>

                    <div class="card-face front">
                        <img [class.blurred]="!isUnblurred" class="nft-adn" 
                            [src]="'data:image/png;base64,' + mintedNfts[0].image" 
                            alt="NFT Image">
                    </div>
                    <div class="card-face back">
                        <img class="nft-adn" src="FoxyLogo.jpeg" alt="Foxy Logo">
                    </div>
                    <div class="card-face left"></div>
                    <div class="card-face right"></div>
                    <div class="card-face top"></div>
                    <div class="card-face bottom"></div>
                </div>
            </div>
            
            <div class="card-container"> 
                <button *ngIf="showButton" (click)="DiscoverEffect()" class="btn-mint btn-play">Discover my NFT</button>
            </div>
        </div>


        
    </div>
</section>