
<div class="background" [class.active]="isAnimated" (click)="closeModal()">
      <div *ngIf="owner === walletAddress" class="palette" (click)="stopEvent($event)">
        <div class="button-item">
            <button (click)="flipSale(flipNumberOfTokens, state === 'true')">Flip Sale</button>
            <input [(ngModel)]="flipNumberOfTokens" type="number" placeholder="uint numberOfTokens">
            <input [(ngModel)]="state" type="bool" placeholder="bool state">
        </div>
        <div class="button-item">
            <button (click)="flipPrivateSaleState()">flipPrivateSaleState</button>
            <button (click)="flipAllowListState()">flipAllowListState</button>
        </div>
        <div class="button-item">
            <button (click)="setAllowList(allowNumberOfTokens)">setAllowList</button>
            <input [(ngModel)]="allowAddressesString" type="text" placeholder='address[] addresses'>
            <input [(ngModel)]="allowNumberOfTokens" type="number" placeholder="uint numberOfTokens">
        </div>
        <div class="button-item">
            <button (click)="airdrop()">airdrop</button>
            <input [(ngModel)]="airdropAddressesString" type="text" placeholder='address[] addresses (ex : ["adr1", "adr2"])'>
        </div>
        <div class="button-item">
            <button (click)="setBaseUri()">setBaseUri</button>
        </div>
        <div class="button-item">
            <button (click)="reserveFoxy(reserve)">reserveFoxy</button>
            <input [(ngModel)]="reserve" type="number" placeholder="uint numberOfTokens">
        </div>
        <div class="button-item">
            <button (click)="level(levelTokenId)">level</button>
            <input [(ngModel)]="levelTokenId" type="number" placeholder="uint tokenId">
        </div>
        <div class="button-item">
            <button (click)="getTokenPoints(tokenPoints)">getTokenPoints</button>
            <input [(ngModel)]="tokenPoints" type="number" placeholder="uint tokenId">
        </div>
        <div class="button-item">
            <button (click)="getUserPoints()">getUserPoints</button>
        </div>
        <div class="button-item">
            <button class="call" (click)="publicSaleIsActive()">publicSaleIsActive</button>
            <button class="call" (click)="privateSaleIsActive()">privateSaleIsActive</button>
            <button class="call" (click)="allowListisActive()">allowListisActive</button>
        </div>
        <div class="button-item">
          <button class="call" (click)="balanceOf()">balanceOf</button>
        </div>
    </div>

    <div class="border-container" [class.active]="isAnimated" (click)="stopEvent($event)">
        <div class="panel" *ngIf="!selectedNFT">

            <div class="block1">
                <div>
                    <div class="address-bar">
                        <img src="{{ selectedWallet }}Logo.png" alt="Wallet Logo">
                        <h4>{{ walletAddress.substring(0, 6) + '...' + walletAddress.substring(38) }}</h4>
                    </div>
                    <div class="icon-bar">
                        <a href="https://etherscan.io/address/{{ walletAddress }}" target="_blank"><img src="link.png" alt="Etherscan" title="View on Explorer" class="icon"></a>
                        <img src="copy.png" alt="address" title="Copy Adress" class="icon" (click)="copyText()">
                        <a href="https://opensea.io/{{ walletAddress }}" target="_blank"><img src="opensea.png" alt="Opensea" class="icon" title="Opensea"></a>
                        <img src="disconnect.png" alt="Disconnect Wallet" title="Disconnect Wallet" class="icon" (click)="disconnectWallet()">
                    </div> 
                </div>
                <img *ngIf="networkId === '1'" src="ethereum2.png"  class="ethLogo" alt="Ethereum Network" title="Ethereum Network Active">
                <img *ngIf="networkId !== '1'" src="noethereum2.png"  class="ethLogo noEthLogo" alt="Ethereum Network" title="Connect to Ethereum Network" (click)="connectToEthereum()">
            </div>

            <div class="block2">
                <div class="block2-1">
                    <div class="border-button">
                        <button [routerLink]="['/profil']" [queryParams]="{ address: walletAddress }" (click)="closeModal()" class="mint-button">My Collection</button>
                    </div>
                    <div class="border-button">
                        <button [routerLink]="['/mint']" (click)="closeModal()" class="mint-button">MINT</button>
                    </div>
                </div>
                <div class="block2-2">
                    <p (click)="select('Token')" [ngClass]="{'selected': selectedOption === 'Token'}">Token</p>
                    <p (click)="select('NFT')" [ngClass]="{'selected': selectedOption === 'NFT'}">NFT</p>
                    <p (click)="select('Activity')" [ngClass]="{'selected': selectedOption === 'Activity'}">Activity</p>
                </div>
            </div>

            <div class="block3">
                <div *ngIf="selectedOption === 'Token'" class="token">
                    <div class="balance-block">
                        <h3>Balance : </h3>
                        <p>{{ getTotalBalanceInUsd() | number:'1.2-2' }} $</p>
                    </div>
                    
                    <div *ngIf="isLoadingBalance" class="spinner"></div>

                    <div class="token-block">
                        <div *ngIf="convertBalance(balances[0])[0] != '0' && convertBalance(balances[0])[0] !== 'Loading ...'" class="token-list">
                            <div>
                                <img src="{{ convertBalance(balances[0])[1] }}.png" alt="{{ convertBalance(balances[0])[1] }} Logo">
                            </div>
                            <div class="token-text">
                                <div>   
                                    <p>{{ convertBalance(balances[0])[1] }}</p>
                                    <p class="counter">{{ convertBalance(balances[0])[0] }}</p>
                                </div>
                                <div>   
                                    <p>Value</p>
                                    <p class="counter">{{ convertBalance(balances[0])[2] }}</p>
                                </div>  
                            </div>
                        </div>

                        <div *ngIf="convertBalance(balances[1])[0] !== '0' && convertBalance(balances[1])[0] !== 'Loading ...'" class="token-list">
                            <div>
                                <img src="{{ convertBalance(balances[1])[1] }}.png" alt="{{ convertBalance(balances[1])[1] }} Logo">
                            </div>
                            <div class="token-text">
                                <div>   
                                    <p>{{ convertBalance(balances[1])[1] }}</p>
                                    <p class="counter">{{ convertBalance(balances[1])[0] }}</p>
                                </div>
                                <div>   
                                    <p>Value</p>
                                    <p class="counter">{{ convertBalance(balances[1])[2] }}</p>
                                </div>  
                            </div>
                        </div>

                        <div *ngIf="convertBalance(balances[2])[0] != '0' && convertBalance(balances[2])[0] !== 'Loading ...'" class="token-list">
                            <div>
                                <img src="{{ convertBalance(balances[2])[1] }}.png" alt="{{ convertBalance(balances[2])[1] }} Logo">
                            </div>
                            <div class="token-text">
                                <div>   
                                    <p>{{ convertBalance(balances[2])[1] }}</p>
                                    <p class="counter">{{ convertBalance(balances[2])[0] }}</p>
                                </div>
                                <div>   
                                    <p>Value</p>
                                    <p class="counter">{{ convertBalance(balances[2])[2] }}</p>
                                </div>  
                            </div>
                        </div>

                        <div *ngIf="convertBalance(balances[3])[0] != '0' && convertBalance(balances[3])[0] !== 'Loading ...'" class="token-list">
                            <div>
                                <img src="{{ convertBalance(balances[3])[1] }}.png" alt="{{ convertBalance(balances[3])[1] }} Logo">
                            </div>
                            <div class="token-text">
                                <div>   
                                    <p>{{ convertBalance(balances[3])[1] }}</p>
                                    <p class="counter">{{ convertBalance(balances[3])[0] }}</p>
                                </div>
                                <div>   
                                    <p>Value</p>
                                    <p class="counter">{{ convertBalance(balances[3])[2] }}</p>
                                </div>  
                            </div>
                        </div>
                            
                    </div>
                </div>

                <div *ngIf="selectedOption === 'NFT'" class="token">
                    <div *ngIf="isLoadingNFTs" class="spinner"></div>
                    
                    <div *ngIf="!isLoadingNFTs && tokenIds.length > 0" class="token-block">
                        <div *ngFor="let tokenId of tokenIds" class="token-list no-padding" (click)="selectNFT(tokenId)">
                            <div>
                                <img class="NFTimg" [src]="tokens[tokenId]?.image == 'https://foxyclan.s3.filebase.com/undiscovered.png' ? tokens[tokenId]?.image : 'https://foxyclan.s3.filebase.com/' + tokens[tokenId]?.tokenId + '.png' + '?t=' + cacheVersion" alt="">
                            </div>
                            <div class="token-text">
                                <div>   
                                    <h4>#{{ tokenId }}</h4>
                                    <p class="NFT-text">Rarity : {{ getRarity(tokens[tokenId]!.attributes) }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <h5 class="message" *ngIf="!isLoadingNFTs && tokenIds.length === 0" >No NFTs found</h5>
                </div>


                <div *ngIf="selectedOption === 'Activity'" class="token">
                    <div *ngIf="isLoadingTransactions" class="spinner"></div>
                    <div class="token-block">
                        <div *ngFor="let transaction of transferEvents.reverse()" class="token-list no-padding">
                            <div class="token-list">
                                <div>   
                                    <h4>{{ transaction.functionName }}</h4>
                                    <p *ngIf="transaction.functionName === 'Mint'" class="NFT-text">{{ transaction.tokenIds.length == 1 ? "TokenId : #" + transaction.tokenIds : "TokenIds : [ " + formatTokenIds(transaction.tokenIds) + " ]" }}</p>
                                    <p *ngIf="transaction.functionName === 'Merge'" class="NFT-text">[ {{ formatTokenIds([transaction.tokenIdBurned1, transaction.tokenIdBurned2]) }} ] ➔ #{{ transaction.newTokenId }}</p>
                                    <p *ngIf="transaction.functionName === 'Airdrop'" class="NFT-text">{{ transaction.tokenIds.length == 1 ? "TokenId : #" + transaction.tokenIds : "TokenIds : [ " + formatTokenIds(transaction.tokenIds) + " ]" }}</p>
                                </div>
                            </div>
                        </div>

                        <h5 class="message" *ngIf="!isLoadingTransactions && transferEvents.length === 0" >No Activity Yet</h5>
                    </div>
                </div>
                
            </div>

        </div>
        <div class="panel nft-detail" *ngIf="selectedNFT">
            <p class="back-arrow" (click)="closeNFTView()">&larr;</p>
            <img class="nft-image-large" [src]="selectedNFT.image == 'https://foxyclan.s3.filebase.com/undiscovered.png' ? selectedNFT.image : 'https://foxyclan.s3.filebase.com/' + selectedNFT.tokenId + '.png' + '?t=' + cacheVersion" alt="NFT Image">
            <p class="nft-detail-text-blue">{{ selectedNFT.name }}</p>
            <div class="stat-container">
                <p>Level : {{ selectedNFTLevel }}</p>
                <p>Foxy Points : {{ selectedNFTPoints }}</p>
            </div>
            <div class="button-container">
                <button class="button-modal" role="button" (click)="openNFTModal()"><span class="text">{{ selectedNFT.image == 'https://foxyclan.s3.filebase.com/undiscovered.png' ? "Undiscover" : "More details" }}</span></button>
            </div>

        </div>
    </div>
</div>


<app-modal-collection *ngIf="showNFTModal" [token]="selectedNFT" (closeModalEvent)="closeNFTModal($event)"></app-modal-collection>
<app-modal-undiscovered *ngIf="showUndiscoveredModal" [tokenId]="selectedNFT!.tokenId" [image]="selectedNFT?.image" (closeModalEvent)="closeUndiscoveredModal($event)"></app-modal-undiscovered>