<div class="background" [class.active]="isAnimated" (click)="closeModal()">
    <div class="border-container" [class.active]="isAnimated" (click)="stopEvent($event)">
        <div class="panel">

            <div class="block1">
                <div>
                    <div class="address-bar">
                        <img src="{{ selectedWallet }}Logo.png" alt="Wallet Logo">
                        <h4>{{ walletAddress.substring(0, 6) + '...' + walletAddress.substring(38) }}</h4>
                    </div>
                    <div class="icon-bar">
                        <a href="https://etherscan.io/address/{{ walletAddress }}" target="_blank"><img src="link.png" alt="Etherscan" title="View on Explorer" class="icon"></a>
                        <img src="copy.png" alt="address" title="Copy Adress" class="icon" (click)="copyText()">
                        <a href="https://opensea.io/{{ walletAddress }}" target="_blank"><img src="opensea.png" alt="Opensea" class="icon" title="Opensea"></a>
                        <img src="disconnect.png" alt="Disconnect Wallet" title="Disconnect Wallet" class="icon" (click)="disconnectWallet()">
                    </div> 
                </div>
                <img *ngIf="networkId === '1'" src="ethereum2.png"  class="ethLogo" alt="Ethereum Network" title="Ethereum Network Active">
                <img *ngIf="networkId !== '1'" src="noethereum2.png"  class="ethLogo noEthLogo" alt="Ethereum Network" title="Connect to Ethereum Network" (click)="connectToEthereum()">
            </div>

            <div class="block2">
                <div class="block2-1">
                    <div class="border-button">
                        <button [routerLink]="['/collection']" (click)="closeModal()" class="mint-button">My Collection</button>
                    </div>
                    <div class="border-button">
                        <button [routerLink]="['/mint']" (click)="closeModal()" class="mint-button">MINT</button>
                    </div>
                </div>
                <div class="block2-2">
                    <p (click)="select('Token')" [ngClass]="{'selected': selectedOption === 'Token'}">Token</p>
                    <p (click)="select('NFT')" [ngClass]="{'selected': selectedOption === 'NFT'}">NFT</p>
                    <p (click)="select('Activity')" [ngClass]="{'selected': selectedOption === 'Activity'}">Activity</p>
                </div>
            </div>

            <div class="block3">
                <div *ngIf="selectedOption === 'Token'" class="token">
                    <div class="balance-block">
                        <h3>Balance : </h3>
                        <p>{{ convertBalance(balances[0]) }}</p>
                        <p>{{ convertBalance(balances[1]) }}</p>
                        <p>{{ convertBalance(balances[2]) }}</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
