.palette {
    position: absolute;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #2a2c3f;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button-item {
    display: flex;
    align-items: center;
    gap: 2px;
}

.button-item input {
    flex: 1;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    background-color: #252835;
    border-radius: 4px;
    color: white;
}

.call {
    background-color: #383838 !important;
}

.button-item button {
    width: 130px;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #c97539;
    color: rgb(255, 255, 255);
    font-size: bold;
    transition: background-color 0.3s ease-in;
}

.button-item button:hover {
    background-color: #ad632f;
}

.background {
    z-index: 10;
    position: fixed;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    transition: background-color 0.3s ease-out;
}

.background.active {
    background-color: rgba(0, 0, 0, 0.750);
}

.border-container {
    width: 17vw;
    height: 50vh;
    background: linear-gradient(to top right, #00d9ff, #0000009c);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    position: fixed;
    right: -30%;
    transition: right 0.3s ease-in-out;
    margin: 20px;
    padding: 5px;
    min-width: 300px;
    min-height: 450px;
}

.panel {
    font-family: "Orbitron", sans-serif;
    color: rgb(254, 254, 254);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: rgba(29, 35, 55, 0.792);
    display: grid;
    grid-template-rows: repeat(5, 1fr);
}

.border-container.active {
    right: 0;
}


/* BLOCK1 */


.block1 {
    grid-row: 1 / 2;
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: space-between;
}

.address-bar {
    display: flex;
    flex-direction: row;
    gap: 7px;
    align-items: center;
}

.address-bar img {
    width: 30px;
    height: 30px;
}

.icon-bar {
    display: flex;
    flex-direction: row;
}

.icon {
    margin: 5px 10px 5px 0px;
    display: flex;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.icon:hover {
    filter: invert(20%);
}

.ethLogo {
    width: 60px;
    height: 60px;
}

.noEthLogo {
    border: 3px solid red;
    border-radius: 30%;
    cursor: pointer;
}


/* BLOCK2 */


.block2 {
    grid-row: 2 / 3;
}

.block2-1 {
    height: 50%;
    padding: 5px 10px 5px 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.border-button {
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, #42ddf8, #091d20);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.mint-button {
    width: calc(100% - 5px);
    height: calc(100% - 5px);
    border-radius: 13px;
    background-color: rgba(0, 0, 0, 0.817);
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Orbitron", sans-serif;
    font-weight: 500;
    border: none;
}

.block2-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 8px;
    position: relative;
}

.block2-2 p {
    display: flex;
    justify-content: center;
    align-items: end;
    color: white;
    padding: 5px 0 10px 0;
    cursor: pointer;
    position: relative;
}

.block2-2 p:hover {
    background-color: rgba(128, 128, 128, 0.492);
}

.selected {
    color: rgb(32 201 151) !important;
}

.selected::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(32 201 151);
}


/* BLOCK3 */


.block3 {
    grid-row: 3 / 6;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    background-color: rgba(76, 76, 76, 0.256);
    border-radius: 5px;
    box-sizing: border-box;
    overflow-y: hidden;
}

.token {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: hidden;
    box-sizing: border-box;
}

.token .no-nft-message {
    margin: auto;
}

.balance-block {
    margin: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgba(50, 50, 50, 0.626);
    border-radius: 5px;
    box-sizing: border-box;
}

.token-block {
    margin: 5px;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    flex-grow: 1;
    overflow-y: auto;
}

.token-list {
    box-sizing: border-box;
    border-radius: 5px;
    padding: .75rem 1.25rem;
    background-color: rgba(83, 83, 83, 0.444);
    column-gap: 1.5rem;
    align-items: center;
    width: 100%;
    display: flex;
}

.token-list:hover {
    background-color: rgba(83, 83, 83, 0.764);
}


.token-list img {
    aspect-ratio: 1 / 1;
    width: 1.8rem;
    height: auto;
    align-items: center;
    display: flex;
}

.counter {
    font-size: 0.75rem;
    font-weight: 100px;
    color: rgb(203, 203, 203);
}

.token-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}

.no-padding {
    padding: 0 !important;
}

.NFTimg {
    width: 4rem !important;
}

.NFTtext {
    font-size: 0.8rem;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
    
.spinner:before {
    content: '';
    aspect-ratio: 1/1;
    width: 15%;
    height: auto;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-top: 2px solid #3498db;
    border-radius: 50%;
    animation: spin 1.3s ease infinite;
}
    
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(720deg);
    }
}

