<header>
    <a href="#">Foxy <img src="FoxyLogoNoBackground.png" alt="Logo" class="logo"> Clan</a>
    <div class="input-container">
        <span class="hashtag"># |</span>
        <input type="text" class="search-bar" placeholder="Search..." (input)="onSearchInput($event)" (keydown.enter)="searchToken()" (blur)="removeBorderRed()">
        <span class="search-icon" (click)="searchToken()">
            <img *ngIf="!isLoading" src="search.png">
            <div *ngIf="isLoading" class="spinner"></div>
        </span>
    </div>

    <ul>
        <li>
            <a [routerLink]="['/home']" [ngClass]="{ 'active-link': isActive('/home') }">Home</a>
        </li>
        <li>
            <a [routerLink]="['/collection']" [ngClass]="{ 'active-link': isActive('/collection') }">Collection</a>
        </li>
        <li>
            <a [routerLink]="['/mint']" [ngClass]="{ 'active-link': isActive('/mint') }">Mint</a>
        </li>
        <li>
            <a [routerLink]="['/roadmap']" [ngClass]="{ 'active-link': isActive('/roadmap') }">Roadmap</a>
        </li>
        <li>
            <a [routerLink]="['/team']" [ngClass]="{ 'active-link': isActive('/team') }">Team</a>
        </li>
        <li>
            <a [routerLink]="['/contact']" [ngClass]="{ 'active-link': isActive('/contact') }">Contact</a>
        </li>
    </ul>
    <div class="button-container">
        <button class="border-button">
            <button *ngIf="!isConnected" (click)="showWalletModal()" class="connect-button">Connect Wallet</button> 
            <button *ngIf="isConnected" id="walletAddressButton" (click)="showAccountModal()" class="connect-button" title="{{ walletAddress }}">{{ (walletAddress.substring(0, 6) + '...' + walletAddress.substring(38)) }}</button>
        </button>
    </div>
</header>

<app-modal-account *ngIf="showAccount" [walletAddress]="walletAddress" (close)="closeModal()" #ModalAccount></app-modal-account>
<app-modal-wallet *ngIf="showWallet" (close)="closeModal()" #ModalWallet></app-modal-wallet>
<app-modal-collection *ngIf="showModal" [token]="selectedToken" (closeModalEvent)="closeCollectionModal()"></app-modal-collection>