<header>
    <a>Foxy Clan</a>
    <div class="input-container">
        <span class="hashtag"># |</span>
        <input type="text" class="search-bar" placeholder="Rechercher...">
        <span class="search-icon"><img src="search.png"></span>
    </div>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Store</a></li>
        <li><a href="#">Work</a></li>
        <li><a href="#">Pages</a></li>
        <li><a href="#">Cart</a></li>
    </ul>
    <div class="button-container">
        <button class="border-button">
            <button *ngIf="!isConnected" (click)="showWalletModal()" class="connect-button">Connect Wallet</button> 
            <button *ngIf="isConnected" id="walletAddressButton" (click)="showAccountModal()" class="connect-button" title="{{ walletAddress }}">{{ (walletAddress.substring(0, 6) + '...' + walletAddress.substring(38)) }}</button>
        </button>
    </div>
</header>

<app-modal-account *ngIf="showAccount" [walletAddress]="walletAddress" (close)="closeModal()" #ModalAccount></app-modal-account>
<app-modal-wallet *ngIf="showWallet" (close)="closeModal()" #ModalWallet></app-modal-wallet>
