<div class="contact-page">
  <div class="contact-container" *ngIf="!isSending" [@popOut]>
    <h2>Contact Support</h2>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      
      <label for="address">Wallet Address</label>
      <input id="address" formControlName="address" type="text" placeholder="Wallet Address" readonly>

      <label for="email">E-mail</label>
      <input id="email" formControlName="email" type="text"
        [ngClass]="{'invalid-border': contactForm.get('email')?.invalid && contactForm.get('email')?.touched}"
        placeholder="Enter your email">

      <div class="error-message" *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched">
        Please enter a valid email address.
      </div>

      <label for="subject">Subject</label>
      <select id="subject" formControlName="subject" (change)="onSubjectChange($event)">
        <option value="" selected disabled>-- Select a subject --</option>
        <option value="question">Question</option>
        <option value="bug">Bug</option>
        <option value="suggestion">Suggestion</option>
        <option value="other">Other</option>
      </select>

      <label *ngIf="selectedSubject === 'bug'" for="section">Bug Section</label>
      <select *ngIf="selectedSubject === 'bug'" id="section" formControlName="section">
        <option value="" selected disabled>-- Select a section --</option>
        <option value="mint">Mint</option>
        <option value="merge">Merge</option>
        <option value="foxypoints">Foxy Points</option>
        <option value="level">Token Level</option>
        <option value="connect">Connect Wallet</option>
        <option value="website">Foxy Website</option>
        <option value="other">Other</option>
      </select>

      <label for="description">Description</label>
      <textarea id="description" formControlName="description" placeholder="Describe your problem..." required></textarea>
      
      <button type="submit" [disabled]="contactForm.invalid || isSending">Send</button>

    </form>
  </div>

  <div class="loading-overlay" [ngClass]="{'show': isSending}">
    <div *ngIf="!isSent" class="loading-spinner">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>

    <div class="confirmation-message" *ngIf="isSent">
      <img [src]="successfulSend ? 'valide.png' : 'error.png'" alt="">
      <div class="message">
        <span>{{ confirmationMessage.split(' ').slice(0, 3).join(' ') }}</span><br>
        <span>{{ confirmationMessage.split(' ').slice(3).join(' ') }}</span>
      </div>
    </div>
  </div>
</div>
