<div class="page-container">
  <div class="owner">
    <div class="owner-info">
      <div>
        <h3 class="wallet">Wallet</h3>
        <h1 class="address">{{ address }}</h1>
      </div>
      <div>
        <p class="info">FoxyPoints: {{ foxypoints }}</p>
        <p class="info">Number of Foxys: {{ numberOfFoxys }}</p>
      </div>
    </div>
    <div class="owner-image">
      <img [src]="tokens[0]?.image"/>
    </div>
  </div>
  
  <div class="nft-collection">
    <h2>FOXY Collection</h2>
    <div class="nft-grid">
      <div *ngFor="let token of tokens | keyvalue" class="nft-item" (click)="viewNFT()">
        <img [src]="token.value?.image"/>
        <p>#{{ token.value?.tokenId }}</p>
      </div>
    </div>
  </div>
</div>
