.page-container {
  width: 100%;
  min-height: 100vh;
  background: url("../../../../public/background-theme-revertjpg.jpg");
  background-size: cover;
  background-attachment: fixed;
  padding-top: 15vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Orbitron", sans-serif;
  box-sizing: border-box;
}


.spinner {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
  
.spinner:before {
  content: '';
  aspect-ratio: 1/1;
  width: 5%;
  height: auto;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1.3s ease infinite;
}
  
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

.logo-background {
  margin-top: 20vh;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  animation: fadeIn 0.7s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.logo-background img {
  width: 50%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  filter: grayscale(100%) contrast(200%);
  mix-blend-mode: multiply;
  opacity: 0.2;
}

.owner {
  height: 65vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  box-sizing: border-box;
}

.owner-info {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  height: 100%;
  padding: 20px 0;
  box-sizing: border-box;
}

.title {
  letter-spacing: 2px;
  font-size: 2rem;
  color:#42ddf8;
}

.no-nft-message {
  letter-spacing: 1px;
  color: #42ddf8;
}

.info-container {
  display: flex;
  flex-direction: row;
  gap: 10%;
}

.owner-info p {
  color: #afafaf;
  font-size: 0.8rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.owner-info .info {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.owner-info .info span {
  font-size: 2.5rem;
  font-weight: bold;
  color: #42ddf8;
}

.info-icon {
  margin-left: 5px;
  cursor: pointer;
  font-size: 1rem;
  color: #42ddf8;
  z-index: 10;
}

.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.8rem;
  top: 0;
  left: 0;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 11;
}

.wallet {
  color: rgba(227, 227, 227, 0.600);
  font-weight: bold;
  font-size: 0.8rem;
}


.owner-image {
  height: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  border: 2px solid #42ddf8;
  border-radius: 10px;
}

.owner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.nft-collection h2 {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 40px 0;
  text-align: center;
}

.nft-collection {
  width: 80%;
  z-index: 2;
}

.nft-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
}

.nft-item {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.nft-item img {
  width: 100%;
  border-radius: 10px;
  aspect-ratio: 1 / 1;
}

.nft-item:hover {
  transform: scale(1.1);
}