
<div *ngIf="!isLoading" class="logo-background"><img src="FoxyLogoNoBackground.png" alt=""></div>
  
<div class="page-container">
<div *ngIf="isLoading" class="spinner"></div>
  <!-- ADDRESS INFO -->
  <div *ngIf="!isLoading && !mergeMode" class="owner">

    <div class="owner-info" [ngClass]="noNft ? 'noNft' : ''">
      <div>
        <h3 *ngIf="!isOwner" class="wallet">FOXY WALLET</h3>
        <h2 [ngClass]="isOwner ? 'title' : 'address'">{{ isOwner ? "MY FOXY WALLET" : address }}</h2>
      </div>

      <div class="info-container">
        <div class="info">
          <span>{{ noNft ? 0 : numberOfFoxys }}</span>
          <p>Foxys</p>
        </div>
        <div class="info">
          <span>{{ noNft ? 0 : userFoxyPoints }}</span>
          <p>FoxyPoints <span class="info-icon" (mouseenter)="showTooltip=true" (mouseleave)="showTooltip=false">&#9432;<div *ngIf="showTooltip" class="tooltip">
            FoxyPoints are loyalty points earned by holding Foxy NFTs<br>( Dependent on token level ) or by completing missions.<br>Nobody knows what these mysterious points are for...  
          </div></span></p>
        </div>
        <div class="btn-container">
          <button *ngIf="!noNft && isOwner" class="btn" (click)="mergeMode = true">Merge</button>
        </div>
      </div>
      <h2 *ngIf="noNft && !isOwner" class="no-nft-message">This address is not yet part of the foxy family</h2>
    </div>
    <div class="owner-image">
      <img [src]="noNft ? 'FoxyLogo.jpeg' : profileImage"/>
    </div>
  </div>

<!-- MERGE -->
<div *ngIf="!isLoading && mergeMode" class="merge-container">

  <div class="merge-content">
    <button class="btn exit-btn" *ngIf="mergeMode" (click)="exitMergeMode()">BACK</button>
    <!-- Cadran Gauche -->
    <div class="cadran left">
      <div class="merge-image drop-zone" [ngClass]="getDropZoneClass('left')" 
      (dragover)="onDragOver($event)"
      (drop)="onDrop($event, 'left')"
      (click)="selectedNFTs.left ? removeFromMerge('left') : null">
        <img *ngIf="selectedNFTs.left" [src]="selectedNFTs.left.image == 'https://foxyclan.s3.filebase.com/undiscovered.png' ? selectedNFTs.left.image : 'https://foxyclan.s3.filebase.com/' + selectedNFTs.left.tokenId + '.png'" alt="NFT Left">
        <p *ngIf="!selectedNFTs.left" class="placeholder-text">Drop NFT Here</p>
      </div>
    </div>

    <div class="merge-info">
      <div class="merge-description">
        <img src="FoxyLogoNoBackground.png" alt="">
        <p [ngStyle]="{'color': errorMessage ? 'red' : '',
        'font-weight':  errorMessage ? '400' : 'bold',
        'letter-spacing': '1px'}">{{ errorMessage ? errorMessage : "Drag and drop two NFTs to create something unique." }}</p>
      </div>
      <button class="btn merge-btn" (click)="merge()" [disabled]="mergingLoad">
        <span class="merge-text" [ngStyle]="{'opacity': mergingLoad ? '0' : '1'}">Confirm Merge</span>
        <span *ngIf="mergingLoad" class="loading-spinner"></span>
      </button>
    </div>

    <!-- Cadran Droit -->
    <div class="cadran right">
      <div class="merge-image drop-zone" [ngClass]="getDropZoneClass('right')" 
      (dragover)="onDragOver($event)"
      (drop)="onDrop($event, 'right')"
      (click)="selectedNFTs.right ? removeFromMerge('right') : null">
        <img *ngIf="selectedNFTs.right" [src]="selectedNFTs.right.image == 'https://foxyclan.s3.filebase.com/undiscovered.png' ? selectedNFTs.right.image : 'https://foxyclan.s3.filebase.com/' + selectedNFTs.right.tokenId + '.png'" alt="NFT Right">
        <p *ngIf="!selectedNFTs.right" class="placeholder-text">Drop NFT Here</p>
      </div>
    </div>
  </div>
</div>

<!-- COLLECTION -->
<div *ngIf="!isLoading && !noNft" class="nft-collection">
  <h2>{{ mergeMode ? "Select Foxys to Merge :" : "FOXY Collection" }}</h2>
  <div class="nft-grid">
    <div *ngFor="let token of availableTokens | keyvalue" 
         class="nft-item"
         [ngStyle]="{'cursor': mergeMode ? 'all-scroll' : 'pointer'}"
         draggable="true"
         (dragstart)="token.value ? onDragStart($event, token.value) : null"
         (click)="mergeMode && (!this.selectedNFTs.left || !this.selectedNFTs.right) ? addToMerge(token.value) : openModal(token.value)">
      <img [src]="token.value?.image === 'https://foxyclan.s3.filebase.com/undiscovered.png' ? token.value?.image : 'https://foxyclan.s3.filebase.com/' + token.value?.tokenId + '.png' + '?t=' + cacheVersion"/>
      <p>#{{ token.value?.tokenId }}</p>
    </div>
  </div>
</div>




<app-modal-collection *ngIf="showCollectionModal" [token]="selectedToken" (closeModalEvent)="closeCollectionModal()"></app-modal-collection>
<app-modal-undiscovered *ngIf="showUndiscoveredModal" [tokenId]="selectedToken!.tokenId" [image]="selectedToken!.image" (closeModalEvent)="closeUndiscoveredModal($event)"></app-modal-undiscovered>
<app-modal-mint #modalMerge [hidden]="!showMergeModal" (close)="closeMergeModal()"></app-modal-mint>
<app-error *ngIf="errorPage"></app-error>
<app-rotate-warning></app-rotate-warning>