.mint {
    font-family: "Orbitron", sans-serif;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(135deg, #4a1d96, #000000, #1e3a8a);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

  
@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


.filter {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.panel {
    margin-top: 10vh;
    height: 70%;
    width: 70%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.panel-1 {
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

h1 {
    font-weight: 1000;
    font-size: 3rem;
    word-spacing: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.colored {
    color: #42ddf8;
}

.panel-1-block {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
    padding: 0 2rem 0 0;
}

.sale-status {
    font-weight: 400;
    font-size: 1.2rem;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    margin-bottom: 1rem;
    transition: all 0.3s ease-in-out;
}

.sale-status-text {
    display: inline-block;
    padding-right: 10px;
    position: relative;
}

.sale-status .sale-status-text {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.active-sale .sale-status-text {
    color: #42ddf8; /* Subtle blue */
}

.inactive-sale .sale-status-text {
    color: #f1f1f1; /* Light grey */
}

.sale-status::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #42ddf8;
    transition: width 0.3s ease-in-out;
}

.active-sale::after {
    width: 100%;
}

.inactive-sale::after {
    width: 80%;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h2 {
    font-weight: 1000;
    font-size: 1rem;
    word-spacing: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
}

@property --a {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}


@keyframes animate {
    0% {
        --a: 0deg;
    }
    100% {
        --a: 360deg;
    }
}

.btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    user-select: none;

}


.error-message {
	color: #2c90a1;
    font-weight: 600;
}

.panel-1-ul {
    font-style: normal;
    font-weight: 600;
    line-height: 2rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
}


.btn {
    width: 180px;
    height: 60px;
    position: relative;
    text-decoration: none;
    background: repeating-conic-gradient(from var(--a), var(--clr1) 0%, var(--clr1) 5%, transparent 5%, transparent 35%, var(--clr1) 50%);
    animation: animate 2.5s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    box-sizing: border-box;
    cursor: pointer;
}

.btn::after {
    content: '';
    position: absolute;
    inset: 2px;
    will-change: background;
    transition: background 0.5s ease;
}

.black-btn::after {
    background: black;
}

.blue-btn::after {
    background-color: #42bbf6;
    background-size: cover;
    background-position: center;
}


.btn span {
    font-weight: 800;
    position: relative;
    font-size: 1rem;
    z-index: 2;
    text-transform: uppercase;
    color: black;
}

.black-btn span {
    color: white;
}

.blue-btn span {
    color: black;
}

.black-btn:hover::after {
    background: rgb(211, 211, 211);
    inset: 3px;
}

.blue-btn:hover::after {
    background-image: url('../../../../public/eyes-btn.png');
    opacity: 1;
    filter: brightness(0.7);
    border: 2px solid rgba(255, 255, 255, 0.8);
}

.blue-btn:hover span {
    color: rgba(255, 255, 255, 0.8);
}

.black-btn:hover span {
    font-weight: 1000;
    color: black;
}

.black-btn:hover {
    background: repeating-conic-gradient(from var(--a), black 0%, black 5%, transparent 5%, transparent 35%, black 50%);
    animation: animate 2.5s linear infinite;
}


app-modal-mint {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}







.panel-2 {
    height: 100%;
    width: 50%;
    box-sizing: border-box;
}

.card-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    z-index: 4;
    perspective: 1000px;
    user-select: none;
    position: relative;
  }
  
  .box2 {
    position: relative;
    width: 80%;
    aspect-ratio: 1 / 1;
    transform-style: preserve-3d;
  }
  
  .rotation {
    animation: defaultRotation 4s ease-in-out infinite;
  }
  
  .card {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .card-face.front,
  .card-face.back {
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    width: 95%;
    height: 95%;
    backface-visibility: hidden;
    overflow: hidden;
    user-select: none;
  }
  
  .light-socle {
    position: absolute;
    bottom: -50px;
    transform: translateX(-50%);
    width: 80%;
    height: 20px;
    background: radial-gradient(
      ellipse at center,
      rgba(66, 187, 246, 0.6) 0%,
      rgba(66, 187, 246, 0.3) 40%,
      rgba(66, 187, 246, 0) 80%
    );
    filter: blur(8px);
    animation: glowPulse 4s ease-in-out infinite;
    pointer-events: none;
    z-index: 1;
  }
  
  @keyframes glowPulse {
    0% {
      opacity: 1;
      transform: scale(1.2);
    }
    25% {
        opacity: 0.8;
        transform: scale(0.6);
    }
    50% {
      opacity: 0.6;
      transform: scale(1.2);
    }
    75% {
        opacity: 0.8;
        transform: scale(0.6);
    }
    100% {
      opacity: 1;
      transform: scale(1.2);
    }
  }
  
  @keyframes defaultRotation {
    0% {
      transform: rotateY(0deg) translateY(0);
    }
    50% {
      transform: rotateY(180deg) translateY(-20px);
    }
    100% {
      transform: rotateY(360deg) translateY(0);
    }
  }
  


  
.box2 {
	position: relative;
	width: 80%;
    height: auto;
	aspect-ratio: 1 / 1;
	transform-style: preserve-3d;
}

.rotation {
	animation: defaultRotation 4s ease-in-out infinite;
}


.card.back {
    transform: rotateY(180deg);
}

.card {
	box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card-face.front,
.card-face.back {
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    width: 95%;
    height: 95%;
    backface-visibility: hidden;
	overflow: hidden;
	user-select: none;
}

.card-background {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
	overflow: hidden;
	user-select: none;
    background-color: #09161d;
}

.front {
    transform: translateZ(10px);
}

.back {
    transform: rotateY(180deg) translateZ(10px);
}

.card-face {
    position: absolute;
    background-color: #090c1d;
	user-select: none;
}

.card-face.left,
.card-face.right {
    width: 20px;
    height: 100%;
}

.card-face.left {
    transform: rotateY(-90deg) translateZ(10px);
	left: 0;
}

.card-face.right {
    transform: rotateY(90deg) translateZ(10px);
	right: 0;
}

.card-face.top,
.card-face.bottom {
    width: 100%;
    height: 20px;
}

.card-face.top {
    transform: rotateX(90deg) translateZ(10px);
	top:0;
}

.card-face.bottom {
    transform: rotateX(-90deg) translateZ(10px);
	bottom: 0;
}

.nft-adn {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 5s ease-out;
}




@media (max-width: 1870px) {
    h1 {
      font-size: calc(3rem - 1rem); /* Réduit la taille du h1 de 1rem */
    }
  
    .panel-1 {
      padding: calc(5rem - 1rem); /* Réduit le padding de .panel-1 de 1rem */
    }
}

@media (max-aspect-ratio: 1/1) {
    .panel {
        flex-direction: column;
    }

    .panel-1,
    .panel-2 {
        width: 100%;
        height: 100vh;
    }
}


  