<app-not-connected *ngIf="!getConnected()"></app-not-connected>

<section *ngIf="getConnected()" class="mint">
    <div class="container">
        <div class="panel">
            <div class="panel-1">
                <h1><span class="colored">foxy clan</span><br>NFT Collection</h1>
                <div class="panel-1-block">
                    <div class="sale-status" [ngClass]="{'active-sale': isPublicSaleActive, 'inactive-sale': !isPublicSaleActive}">
                        <span class="sale-status-text">{{ isPublicSaleActive ? 'Public Sale is Active' : 'Public Sale Starts Soon' }}</span>
                    </div>
                    <p *ngIf="isPublicSaleActive" class="saleLimit" title="(Current Sale Minted)">{{ currentSaleMinted }} / {{ saleMintLimit }}</p>
                    <div class="btn-container">
                        <a (click)="isPublicSaleActive ? showMintModal(false) : cantMint()" class="btn blue-btn" style="--clr1:rgba(168, 239, 255, 1);--clr2:rgba(168, 239, 255, 0.1)"><span>{{ isPublicSaleActive ? "Mint now" : "Mint soon" }}</span></a>
                        <a (click)="isAllowListActive ? showMintModal(true) : cantAllowList()" class="btn black-btn" style="--clr1:rgba(168, 239, 255, 1);--clr2:rgba(168, 239, 255, 0.1)"><span>Allow List</span></a>
                    </div>
                    <div class="error-message">
                        {{ errorMessage }}
                    </div>
                    <ul class="panel-1-ul">
                        <li>Max 20 NFTs per wallet<br>Public sale price : 0.0125 ETH</li>
                        <li>Presale : SOON</li>
                    </ul>
                </div>
                
            </div>
            <div class="panel-2">
                <div class="card-container"> 
                    <div class="light-socle"></div>   
                    <div class="box2 rotation" #box>
                        <div class="card-background"></div>
                        <div class="card-face front">
                            <img class="nft-adn" [src]="currentImages.front" alt="NFT Image">
                        </div>
                        <div class="card-background back"></div>
                        <div class="card-face back">
                            <img class="nft-adn" [src]="currentImages.back" alt="NFT Image">
                        </div>
                        <div class="card-face left"></div>
                        <div class="card-face right"></div>
                        <div class="card-face top"></div>
                        <div class="card-face bottom"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<app-modal-mint [hidden]="!showMint" [isAllowList]="mintModalData" (close)="closeMintModal()"></app-modal-mint>