<app-not-connected *ngIf="!getConnected()"></app-not-connected>

<section *ngIf="getConnected()" class="mint">
    <video autoplay loop muted playsinline>
        <source src="mintBackground.mp4" type="video/mp4" />
        <source src="mintBackground.webm" type="video/webm" />
        <source src="mintBackground.ogv" type="video/ogg" />
    </video>
    <div class="filter"></div>

    <div class="container">
        <div class="panel">
            <div class="panel-1">
                <h1>Join the foxyclan family</h1>
                <h2>Public Sale Is Active</h2>
                    <div class="btn-container">
                    <a (click)="showMintModal()" class="btn green-btn" style="--clr1:rgba(168, 239, 255, 1);--clr2:rgba(168, 239, 255, 0.1)"><span>Mint now</span></a>
                    <a class="btn black-btn" style="--clr1:rgba(168, 239, 255, 1);--clr2:rgba(168, 239, 255, 0.1)"><span>Allow List</span></a>
                </div>
            </div>
            <div class="panel-2">

            </div>
        </div>
    </div>

</section>

<app-modal-mint *ngIf="showMint" (close)="closeMintModal()"></app-modal-mint>