<section class="details" #detailsContainer>
  
  <div class="block1">
      <div class="block1-1">

        <!-- COLLECTION -->
        <div class="block-1-grid-1">
          <div class="block1-right">
            <h1>Découvrez notre Collection NFT Unique</h1>
            <p class="justified">
              Bienvenue dans notre univers NFT, où la créativité et la rareté se rencontrent pour offrir une expérience inédite.
              Pour la première fois dans l'histoire des NFT, une collection possedera <span class="strong">250 000</span> possibilités de NFTs uniques, 
              mais seuls <span class="strong">20 000</span> NFTs pourront être possédés, chacun étant le fruit d'une combinaison de <span class="strong">80</span> traits différents.
              Chaque possibilités a donc 1 chance sur 12,5 de voir le jour.
              Ce concept permet de rajouter de nouvelles fonctionnalités tel que la <span class="strong">fusion</span> ou le <span class="strong">reroll</span> de NFTs.
            </p>  
          </div>
        </div>

        <!-- TRAITS -->
        <div class="block-1-grid-2">
          <div class="block1-left">
            <h1>Traits</h1>
            <p class="justified">Chaque image associée à un NFT est constituée de plusieurs traits qui déterminent son apparence et sa rareté. Voici les différents types de traits que vous trouverez dans notre collection :</p>
            <p>
              Head Covering (16 options)<br>
              Eyes (16 options)<br>
              Mouths (16 options)<br>
              Clothes (16 options)<br>
              Fur (8 options)<br>
              Background (8 options)
            </p>
          </div>
        </div>

        <!-- ADN -->
        <div class="block-1-grid-3">
          <div class="block1-adn">
            <div class="adn">
              <img class="nft-adn" src="https://classical-turquoise-emu.myfilebase.com/ipfs/QmUMS2rwtYpf3b2GM5ciUF2XUMzJ5VH7SwR1524px8htxE" alt="">
              <p>031507060204</p>
            </div>
            <div class="adn">
              <img class="nft-adn" src="https://classical-turquoise-emu.myfilebase.com/ipfs/QmUMS2rwtYpf3b2GM5ciUF2XUMzJ5VH7SwR1524px8htxE" alt="">
              <p>031507060204</p>
            </div>
          </div>
          <div class="block1-right">
            <h1>ADN & Rareté</h1>
            <p class="justified">Chaque NFT possède un ADN unique qui représente ses traits. Par exemple, l'ADN <span class="strong">031507060204</span> indique les numéros de traits suivants :</p>
            <p>
              Head Covering : 03<br>
              Eyes : 15<br>
              Mouth : 07<br>
              Clothes : 06<br>
              Fur : 02<br>
              Background : 04
            </p>
            <p class="justified">
              L'échelle de rareté de chaque trait va de 00 (le plus rare) à 15 (le moins rare). Cela signifie que les combinaisons les plus rares sont également les plus précieuses. 
            </p>
          </div>
        </div>

        <!-- FUSION -->
        <div class="block-1-grid-4">
          <div class="block1-left">
            <h1>Fusion & Évolution</h1>
            <p class="justified">L'une des fonctionnalités les plus excitantes de notre collection est la possibilité de fusionner deux NFTs que vous possédez. Ce processus vous permet de créer un troisième NFT qui sera supérieur à chacun des deux NFTs d'origine. Voici comment cela fonctionne :</p>
            <p class="justified">
              Possédez deux NFTs : Pour fusionner, vous devez d'abord posséder deux NFTs de la collection.
              Fusionnez : En fusionnant, vous obtiendrez un nouveau NFT dont les traits seront toujours meilleurs que ceux des deux NFTs que vous avez utilisés.
              Brûlez les anciens NFTs : Les deux NFTs d'origine seront brûlés dans le processus, ce qui contribue à la rareté et à la valeur de votre nouvelle création.
            </p>
          </div>
        </div>  

        <div class="block-1-grid-5">
          <div class="">
            <p class="justified">
              Rejoignez notre aventure NFT et découvrez un monde où chaque NFT raconte une histoire unique à travers ses traits et son ADN. Que vous soyez un collectionneur passionné ou un nouvel amateur, notre collection vous offre des possibilités infinies et une expérience interactive comme jamais auparavant.
              N'attendez plus pour explorer notre collection et commencer à construire votre propre héritage NFT !
            </p>
          </div>
        </div>
        
      </div>
  </div>
</section>
