<div class="background" (click)="closeModal()">
  <div class="border-container" (click)="stopEvent($event)">
    <div class="container">
        <div class="header">
            <h4>Connecter un portefeuille</h4>
            <img src="close.png" alt="close" (click)="closeModal()">
        </div>

        <div class="wallet">
            <p class="titles">Wallets Installés</p>
            <p *ngIf="installedWallets.length == 0" class="no-wallet">Aucun Portefeuille Installé</p>
            <div *ngFor="let wallet of installedWallets" (click)="connectWallet(wallet)">
                <div class="list-wallet">
                    <img src="{{ wallet }}.png" alt="{{ wallet }}">
                    <div>
                      <p>{{ addSpaceBeforeW(wallet) }}</p>
                      <p *ngIf="localStorageWallet(wallet)" class="recent">Récent</p>
                    </div>
                </div>
            </div>
            <p *ngIf="installedWallets.length < 3" class="titles">Plus</p>
            <div *ngFor="let wallet of allWallets">
                <div *ngIf="!installedWallets.includes(wallet)" class="list-wallet">
                    <img src="{{ wallet }}.png" alt="{{ wallet }}">
                    <p>{{ addSpaceBeforeW(wallet) }}</p>
                </div>
            </div>
        </div>


        <!-- HOME -->
        <div *ngIf="showHome" class="wallet-details">
          <span class="titles">Qu'est-ce qu'un portefeuille ?</span>
          <p class="doc">
            Un portefeuille crypto (wallet) est une application ou une extension de navigateur qui vous permet de gérer vos
            cryptomonnaies et vos actifs numériques comme les NFT. Il vous permet d'envoyer, de recevoir et de stocker des
            tokens en toute sécurité.
          </p>

          <span class="titles">Comment installer un portefeuille ?</span>
          <ul class="doc">
            <li>
              <strong>1. Choisir un portefeuille :</strong> Il existe plusieurs portefeuilles disponibles, comme MetaMask, Trust Wallet ou Coinbase Wallet.
            </li>
            <li><strong>2. Installer l'extension ou l'application :</strong> Téléchargez l'extension pour navigateur ou l'application mobile depuis les stores officiels.</li>
            <li><strong>3. Créer un compte :</strong> Après l'installation, vous devrez créer un compte et sécuriser votre portefeuille avec une phrase secrète (seed phrase).</li>
          </ul>
          <button class="btn-Install-Wallet" (click)="active('showInstallAll')">Obtenir un portefeuille</button>
          <a href="https://learn.rainbow.me/understanding-web3?utm_source=rainbowkit&utm_campaign=learnmore" target="_blank" class="more">En savoir plus</a>
        </div>



        <!-- INSTALL ALL WALLET -->
        <div *ngIf="showInstallAll" class="wallet-details">
          <div class="installation-wallet-all">

            <div class="portfolio-container">
              <img src="back.png" alt="back" (click)="active('showHome')">
              <span>Obtenir un portefeuille :</span>   
            </div>
            
            <div *ngFor="let wallet of allWallets" class="installation-wallet-div">
              <div class="list-extension">
                  <img src="{{ wallet }}.png" alt="{{ wallet }}">
                  <div>
                    <p>{{ addSpaceBeforeW(wallet) }}</p>
                    <span>{{ walletDesciption(wallet) }}</span>   
                  </div>
              </div>
              <button class="btn-Install-Extention" (click)="active(wallet)">OBTENIR</button>
          </div>
          </div>
        </div>



        <!-- INSTALL METAMASK -->
        <div *ngIf="showInstallMetamask" class="wallet-details">

          <div class="portfolio-container">
            <img src="back.png" alt="back" (click)="active('showInstallAll')">
            <span>Obtenir MetaMask :</span>   
          </div>
          
          <div class="installation-wallet">
            <!-- Chrome -->
            <div class="installation-div1-metamask installation-wallet-box">
              <img src="chrome.png" alt="chrome" class="img-box">
              <p>Chrome<br>
                <span>Extention web</span>
              </p>
              <div class="btn-install-div">
                <a class="btn-Install" href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn" target="_blank">Ajouter à Chrome</a>
              </div>
            </div>
            <!-- Firefox -->
            <div class="installation-div2-metamask installation-wallet-box">
              <img src="firefox.png" alt="Firefox" class="img-box">
              <p>Firefox<br>
                <span>Extention web</span>
              </p>
              <div class="btn-install-div">
                <a class="btn-Install" href="https://addons.mozilla.org/en-US/firefox/addon/ether-metamask/" target="_blank">Ajouter à Firefox</a>
              </div>
            </div>
            <!-- Opera -->
            <div class="installation-div3-metamask installation-wallet-box">
              <img src="opera.png" alt="Opera" class="img-box">
              <p>Opera<br>
                <span>Extention web</span>
              </p>
              <div class="btn-install-div">
                <a class="btn-Install" href="https://addons.opera.com/en-gb/extensions/details/metamask-10/" target="_blank">Ajouter à Opera</a>
              </div>
            </div>
            <!-- AppStore -->
            <div class="installation-div4-metamask installation-wallet-box">
              <img src="AppStore.png" alt="AppStore" class="img-box">
              <p>AppStore<br>
                <span>Application mobile</span>
              </p>
              <div class="btn-install-div">
                <a class="btn-Install" href="https://apps.apple.com/us/app/metamask-blockchain-wallet/id1438144202" target="_blank">Obtenir l'application</a>
              </div>
            </div>

          </div>
        </div>

        <!-- INSTALL COINBASE -->
        <div *ngIf="showInstallCoinbase" class="wallet-details">

          <div class="portfolio-container">
            <img src="back.png" alt="back" (click)="active('showInstallAll')">
            <span>Obtenir Coinbase Wallet :</span>   
          </div>
          
          <div class="installation-wallet">
            <!-- Chrome / Edge / Opera -->
            <div class="installation-div1-coinbase installation-wallet-box-coinbase">
              <div class="logo-div">
                <img src="chrome.png" alt="chrome" class="logo chrome">
                <img src="edge.png" alt="edge" class="logo edge">
                <img src="opera.png" alt="opera" class="logo opera">
              </div>
              
              <p>Navigateurs<br>
                <span>Extention web compatible avec ces trois navigateurs</span>
              </p>
              <div class="btn-install-div-coinbase">
                <a class="btn-Install" href="https://chromewebstore.google.com/detail/coinbase-wallet-extension/hnfanknocfeofbddgcijnmhnfnkdnaad?hl" target="_blank">Ajouter au navigateur</a>
              </div>
            </div>
            <!-- AppStore -->
            <div class="installation-div2-coinbase installation-wallet-box-coinbase">
              <img src="AppStore.png" alt="AppStore" class="logo-appstore">
              <p>AppStore<br>
                <span>Application mobile</span>
              </p>
              <div class="btn-install-div-coinbase">
                <a class="btn-Install" href="https://apps.apple.com/us/app/coinbase-wallet-nfts-crypto/id1278383455" target="_blank">Obtenir l'application</a>
              </div>
            </div>

          </div>
        </div>

        <!-- INSTALL TRUST WALLET -->
        <div *ngIf="showInstallTrust" class="wallet-details">

          <div class="portfolio-container">
            <img src="back.png" alt="back" (click)="active('showInstallAll')">
            <span>Obtenir Trust Wallet :</span>   
          </div>
          
          <div class="installation-wallet">
            <!-- Chrome -->
            <div class="installation-div1-coinbase installation-wallet-box-coinbase">
              <div class="logo-div">
                <img src="chrome.png" alt="chrome" class="logo chrome">
                <img src="edge.png" alt="edge" class="logo edge">
                <img src="opera.png" alt="opera" class="logo opera">
              </div>
              
              <p>Navigateurs<br>
                <span>Extention web compatible avec ces trois navigateurs</span>
              </p>
              <div class="btn-install-div-coinbase">
                <a class="btn-Install" href="https://chromewebstore.google.com/detail/trust-wallet/egjidjbpglichdcondbcbdnbeeppgdph?hl" target="_blank">Ajouter au navigateur</a>
              </div>
            </div>
            <!-- AppStore -->
            <div class="installation-div2-coinbase installation-wallet-box-coinbase">
              <img src="AppStore.png" alt="AppStore" class="logo-appstore">
              <p>AppStore<br>
                <span>Application mobile</span>
              </p>
              <div class="btn-install-div-coinbase">
                <a class="btn-Install" href="https://apps.apple.com/fr/app/trust-wallet-bitcoin-crypto/id1288339409" target="_blank">Obtenir l'application</a>
              </div>
            </div>

          </div>
        </div>


    </div>
  </div>
</div>
