<div class="background" (click)="closeModal()">
    <div class="container" (click)="stopEvent($event)">

        <div class="header">
            <h4>Connecter un portefeuille</h4>
            <img src="close.png" alt="close" (click)="closeModal()">
        </div>

        <div class="wallet">
            <p class="titles">Wallets Installés</p>
            <p *ngIf="installedWallets.length == 0" class="no-wallet">Aucun Portefeuille Installé</p>
            <div *ngFor="let wallet of installedWallets" (click)="connectWallet(wallet)">
                <div class="list-wallet">
                    <img src="{{ wallet }}.png" alt="{{ wallet }}">
                    <div>
                      <p>{{ addSpaceBeforeW(wallet) }}</p>
                      <p *ngIf="localStorageWallet(wallet)" class="recent">Récent</p>
                    </div>
                    
                </div>
            </div>
            <p *ngIf="installedWallets.length < 3" class="titles">Plus</p>
            <div *ngFor="let wallet of allWallets">
                <div *ngIf="!installedWallets.includes(wallet)" class="list-wallet">
                    <img src="{{ wallet }}.png" alt="{{ wallet }}">
                    <p>{{ addSpaceBeforeW(wallet) }}</p>
                </div>
            </div>
        </div>


        <div class="wallet-details" *ngIf="showHome">
          <span class="titles">Qu'est-ce qu'un portefeuille ?</span>
          <p class="doc">
            Un portefeuille crypto (wallet) est une application ou une extension de navigateur qui vous permet de gérer vos
            cryptomonnaies et vos actifs numériques comme les NFT. Il vous permet d'envoyer, de recevoir et de stocker des
            tokens en toute sécurité.
          </p>
        
          <span class="titles">Comment installer un portefeuille ?</span>
          <ul class="doc">
            <li>
              <strong>1. Choisir un portefeuille :</strong> Il existe plusieurs portefeuilles disponibles, comme MetaMask, Trust Wallet ou Coinbase Wallet.
            </li>
            <li><strong>2. Installer l'extension ou l'application :</strong> Téléchargez l'extension pour navigateur ou l'application mobile depuis les stores officiels.</li>
            <li><strong>3. Créer un compte :</strong> Après l'installation, vous devrez créer un compte et sécuriser votre portefeuille avec une phrase secrète (seed phrase).</li>
          </ul>

          <button class="btn-Install-Wallet" (click)="active('showInstallAll')">Obtenir un portefeuille</button>
          <a href="https://learn.rainbow.me/understanding-web3?utm_source=rainbowkit&utm_campaign=learnmore" target="_blank" class="more">En savoir plus</a>
        </div>

        <div *ngIf="showInstallAll" class="wallet-details">
          <div class="installation-wallet-all">
            <div class="portfolio-container">
              <img src="back.png" alt="back" (click)="active('showHome')">
              <span>Obtenir un portefeuille :</span>   
            </div>
            
            <div *ngFor="let wallet of allWallets" class="installation-wallet-div">
              <div class="list-extension">
                  <img src="{{ wallet }}.png" alt="{{ wallet }}">
                  <div>
                    <p>{{ addSpaceBeforeW(wallet) }}</p>
                    <span>{{ walletDesciption(wallet) }}</span>   
                  </div>
                  
              </div>
              <button class="btn-Install-Extention">OBTENIR</button>
          </div>
          </div>
        </div>

        <div *ngIf="showInstallMetamask" class="wallet-details">
          <div class="installation-wallet">
            <div class="installation-div1-metamask">

            </div>
            <div class="installation-div2">

            </div>
          </div>
        </div>
    </div>
</div>
