<div class="home">
    <div class="container">
        <div class="block1">
            <div class="inside-block1">
                <h1 class="title">Discover The FoxyClan NFT Collection</h1>
                <h3 class="subtitle">Enter the world of FoxyClan, where the most charming red pandas come to life.
                    Start your collection and be part of the clan</h3>
                <div class="button-container">
                    <div class="border-button">
                        <button [routerLink]="['/collection']" class="search-button">Explore Collection</button>
                    </div>
                    <button class="more-button">Learn More</button>
                </div>
                
            </div>
        </div>

        <div class="block2">
            <div class="stat-item">
                <h2>20K</h2>
                <p>Total NFT</p>
            </div>
            <div class="stat-item">
                <h2>1M</h2>
                <p>Possibilities</p>
            </div>
            <div class="stat-item">
                <h2>80</h2>
                <p>Different traits</p>
            </div>
            <div class="stat-item last-border">
                <h2>40+</h2>
                <p>Finance integrations</p>
            </div>
        </div>

    </div>
</div>

<app-details></app-details>