<div class="home">
    <div class="container">
        <div class="block1">
            <div class="inside-block1">
                <h1 class="title">Discover FoxyClan<br>collection</h1>
                <h3 class="subtitle">Enter the world of FoxyClan, where the most charming red pandas come to life.
                    Start your collection and be part of the clan</h3>
                <div class="border-button">
                    <button class="search-button">Explore Collection</button>
                </div>
            </div>
            
        </div>
        <div class="block2">
            <!--
            <div class="inside-block2">
                <div class="inside-block2-image1">
                </div>
                <div class="inside-block2-image2">
                </div>
                <div class="inside-block2-image3">
                </div>
            </div>-->
        </div>
    </div>
    <div class="bar-stat">
        <div class="stat1">
            <p>20K</p>
        </div>
        <div class="stat2">
            <p>2M</p>
        </div>
        <div class="stat3">
            <p>30%</p>
        </div>
        <div class="stat4">
            <p>30</p>
        </div>
    </div>
</div>