

.home {
    height: 100dvh;
    width: 100%;
    background-image: url('../../../../public/background1.jpg');
    background-size: cover;
    font-family: "Orbitron", sans-serif;
    overflow-x: auto;
    background-position: center;
    position: fixed;
    z-index: 2;
}

.home::after {
    content: '';
    position: absolute;
    top: 90vh;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    z-index: 1;
}

.container {
    box-sizing: border-box;
    width: 100%;
    height: 85vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 20vh;
    transition: transform 0.3s ease-out;
    position: relative;
    z-index: 1;
}

app-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}


.index3 {
    z-index: 3 !important;
}

.index1 {
    z-index: 1 !important;
}

.fly-away {
    transform: translateY(-100dvh);
    transition: transform 0.3s ease-out;
}

.show-over {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.block1 {
    width: 62vw;
    min-width: 920px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
}

.inside-block1 {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px
}

.title {
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

.subtitle {
    font-size: 1rem;
    color: rgb(194, 194, 194);
    font-weight: 500;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.border-button {
    width: 180px;
    height: 55px;
    background: linear-gradient(to right, #42ddf8, #091d20);
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.search-button {
    width: 175px;
    height: 50px;
    border-radius: 35px;
    background-color: rgba(0, 0, 0, 0.817);
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Orbitron", sans-serif;
    font-weight: 500;
    border: none;
    padding: 0 10px 0 10px;
}

.search-button:hover {
    background: rgba(0, 0, 0, 0.669);
}

.more-button {
    width: 180px;
    height: 55px;
    border-radius: 35px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Orbitron", sans-serif;
    font-weight: 500;
    border: none;
    padding: 0 10px 0 10px;
}

.more-button:hover {
    background: rgba(0, 0, 0, 0.669);
}


.block2 {
    display: flex;
    justify-content: center;
    width: 80%;
    padding-top: 15vh;
}

.stat-item {
    border-right: 2px solid white;
    text-align: center;
    color: white;
    padding: 0 50px;
}

.last-border {
    border: none !important;
}

.stat-item h2 {
    font-size: 2.25rem;
    margin: 0;
}

.stat-item p {
    font-size: 0.875rem;
    margin: 5px 0 0 0;
}

.arrow-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0.7;
    animation: bounce 2s infinite;
    z-index: 10000;
}

.arrow-down:hover {
    transform: translateX(-50%) translateY(-5px) scale(1.05);
    opacity: 1;
}
  

@keyframes bounce {
    0%, 100% {
      transform: translateX(-50%) translateY(0);
    }
    50% {
      transform: translateX(-50%) translateY(-10px);
    }
}



/* MEDIA QUERIES */



@media (max-width: 920px) {
    .block1 {
        width: 100%;
        min-width: 100%;
    }
}

@media (max-width: 900px) {
    .title {
        text-align: center;
    }
    .subtitle {
        width: 80%;
        font-weight: 600;
        color: rgb(201, 201, 201);
    }
}

@media (max-width: 785px) {
    .inside-block1 {
        width: 85%;
    }
    .stat-item {
        padding: 0 30px;
    }
    .home {
        background-image: url('../../../../public/background4.jpg');
    }
}

@media (max-width: 675px) {
    .block1 {
        padding-top: 5vh;
    }
    .block2 {
        padding-top: 10vh;
    }
    .container {
        padding-top: 10vh;
    }
    .inside-block1 {
        gap: 60px;
        width: 95%;
    }
}

@media (max-width: 600px) {
    .subtitle {
        text-align: center;
    }
    .title {
        font-size: 2.5rem;
    }
    .block2 {
        display: none;
    }
}

@media (max-width: 500px) {
    .search-button {
        height: 40px;
        width: 160px;
    }
    .border-button,
    .more-button {
        width: 165px;
        height: 45px;
    }
}

@media (max-width: 450px) {
    .title {
        font-size: 2rem;
    }
    .button-container {
        gap: 20px;
    }
}

@media (max-width: 420px) {
    .subtitle {
        width: 100%;
    }
}

@media (max-width: 390px) {
    .search-button {
        height: 35px;
        width: 140px;
        font-size: 0.8rem;
    }
    .border-button,
    .more-button {
        width: 145px;
        height: 40px;
        font-size: 0.8rem;
    }
}




