.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  font-family: "Orbitron", sans-serif;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
  
.spinner:before {
  content: '';
  aspect-ratio: 1/1;
  width: 5%;
  height: auto;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1.3s ease infinite;
}
  
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

.logo-background {
  position: absolute;
  z-index: 4;
  width: 80%;
  height: 700px;
  display: flex;
  justify-content: right;
  animation: fadeIn 0.7s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.logo-background img {
  width: 50%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  filter: grayscale(100%) contrast(200%);
  mix-blend-mode: multiply;
  opacity: 0.5;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: inherit;
  overflow: hidden;
}

.background img {
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
}

.background .filter {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  animation: fadeIn 0.7s ease-in;
}


.modal-content {
  position: relative;
  z-index: 5;
  width: 80%;
  height: 80%;
  display: flex;
  border-radius: 10px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
  padding: 1.5rem;
}



.close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 2.5rem;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  opacity: 70%;
}

.modal-left,
.modal-right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nft-image {
  max-width: 90%;
  max-height: 90%;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

.modal-right {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.metadata-block {
  width: 100%;
  height: 70%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.metadata {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.info-container {
  display: flex;
  flex-direction: row;
  gap: 10%;
}

.info-container p {
  color: #afafaf;
  font-size: 0.8rem;
  width: 100%;
  display: flex;
  align-items: center; /* Alignement vertical */
  justify-content: center;
  gap: 5px; /* Espacement entre le texte et l'icône */
}

.info {
  display: flex;
  flex-direction: column;
  align-items: start;  
  justify-content: space-between;
}

.info span {
  font-size: 2.5rem;
  font-weight: bold;
  color: #42ddf8;
  opacity: 0.9;  
  width: 90%;
  justify-content: center;
  display: flex;
}

.info .info-icon {
  justify-content: unset !important;
}

.blue-title {
  color: #42ddf8;
}

.width-fix {
  width: 100% !important;
}

.info-icon {
  cursor: pointer;
  font-size: 1rem !important;
  display: inline-flex;
  align-items: center;
  color: #42ddf8;
  z-index: 10;
}

.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 0.8rem;
  white-space: nowrap;
  z-index: 11;
  display: inline-block;
  transform: translateX(1.1rem);
  clip-path: polygon(10px 0%, 100% 0%, 100% 100%, 10px 100%, 0% 50%);
}

.nft-name {
  font-size: 2rem;
  font-weight: bold;
}


.attributes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  justify-items: center;
}


.attribute-card {
  position: relative;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 15px 10px;
  text-align: center;
  width: 100%;
  height: 100%;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.attribute-card:hover {
  transform: scale(1.05);
}

.trait-type {
  font-size: 0.8rem;
  font-weight: bold;
  opacity: 0.8;
}

.trait-value {
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

.trait-index {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  font-weight: bold;
  opacity: 0.3;
  color: white;
  z-index: -1;
}


.legendary-border {
  position: relative;
  border: 3px solid rgb(205, 174, 0);
  overflow: hidden; 
}

.epic-border {
  border: 3px solid rgb(95, 0, 143);
  background: rgba(95, 0, 143, 0.5);
  overflow: hidden;
}

.rare-border {
  border: 3px solid rgb(140, 68, 0);
  background: rgba(140, 68, 0, 0.5);
  overflow: hidden;
}

.legendary-border video {
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; 
  pointer-events: none; 
}

.owner:hover {
  cursor: pointer;
}


/* MEDIA QUERIES */


@media (max-width: 1870px) {
  .modal-content {
    height: 650px;
  }
}

@media (max-width: 1400px) {
  .modal-content {
    height: 600px;
  }
}
  
@media (max-width: 1370px) {
  .metadata-block {
    height: 60%;
  }
  .tooltip {
    transform: translateX(-101%);
    clip-path: polygon(0% 0%, calc(100% - 10px) 0%, 100% 50%, calc(100% - 10px) 100%, 0% 100%);
  }
}

@media (max-width: 1300px) {
  .modal-content {
    height: 600px;
    width: 90%;
  }
}

@media (max-width: 1200px) {
  .modal-content {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    flex-direction: column;
    border-radius: 0px;
    box-sizing: border-box;
  }
  .modal-left,
  .modal-right {
    width: 100%;
  }
  .modal-right {
    align-items: flex-start;
    margin: 2rem 0;
  }
  .nft-name {
    text-align: center;
  }
  .info-container {
    justify-content: center;
  }
  .metadata {
    gap: 20px;
  }
  h4 {
    margin: 1rem 0;
  }
  .nft-image {
    max-width: 100%;
    max-height: 100%;
  } 
  .close {
    position: relative;
    top: -0.5rem;
    left: 96.2%;
  } 
  .background img,
  .background .filter {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .tooltip {
    transform: translateX(1.1rem);
    clip-path: polygon(10px 0%, 100% 0%, 100% 100%, 10px 100%, 0% 50%);
    font-size: 0.7rem;
    padding: 4px 4px 4px 1rem;
  }
  .logo-background {
    height: 100%;
    width: 100%;
  }
  .logo-background img {
    width: 100%;
    position: absolute;
    bottom: 5%;
  }
}

@media (max-width: 1050px) {
  .close {
    left: 95.5%;
  } 
}

@media (max-width: 800px) {
  .tooltip {
    top: auto;
    border: 2px solid #42ddf8;
    transform: translateX(calc(-50% + 0.5rem)) translateY(-55%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    padding: 4px 8px;
  }
}

@media (max-width: 600px) {
  .close {
    left: 94%;
  } 
}

@media (max-width: 400px) {
  .tooltip {
    font-size: 0.6rem;
  }
}

  