<div class="modal-overlay" (click)="closeModal()">
  <div *ngIf="isLoading" class="spinner"></div>
    <div *ngIf="!isLoading" class="logo-background"><img src="FoxyLogoNoBackground.png" alt=""></div>

    <div *ngIf="!isLoading" class="modal-content" (click)="$event.stopPropagation()" [@fadeInOut]>
      <div class="background"><div class="filter"></div><img alt="" [src]="backgroundColor"></div>
      <img class="close" src="close.png" alt="close" (click)="closeModal()">

      <div class="modal-left">
        <img [src]="token?.image + '?t=' + cacheVersion" [alt]="token?.name" class="nft-image">
      </div>
  
      <div class="modal-right">
        <div class="metadata-block">

          <div class="metadata">
          <h2 class="nft-name">{{ token?.name }}</h2>
            <div class="info-container">
              <div class="info">
                <span>{{ tokenLevel }}</span>
                <p>Level</p>
              </div>
              
              <div class="info">
                <span>{{ foxyPoints }}</span>
                <p>FoxyPoints <span class="info-icon" (mouseenter)="showTooltip=true" (mouseleave)="showTooltip=false">&#9432;<div *ngIf="showTooltip" class="tooltip">
                  FoxyPoints are loyalty points earned by holding Foxy NFTs<br>( Dependent on token level ) or by completing missions.<br>Nobody knows what these mysterious points are for...  
                </div></span></p>
              </div>

              <div class="info ">
                <span class="width-fix">{{ rarity }}</span>
                <p>Rarity</p>
              </div>
            </div>

            <h4>DNA : <span class="blue-title">{{ formatDNA(token?.DNA) }}</span></h4>

            <div class="attributes">
              <div *ngFor="let attr of token?.attributes" class="attribute-card" (click)="filterByAttribute(attr)"
              [ngClass]="getTraitRarity(attr.value, attr.trait_type) + '-border'">
                <p class="trait-type">{{ attr.trait_type }}</p>
                <p class="trait-value">{{ attr.value }}</p>
                <video *ngIf="getTraitRarity(attr.value, attr.trait_type) === 'legendary' ? true : false" autoplay muted loop>
                  <source src="metaGold.mp4" type="video/mp4">
              </video>
              </div>
            </div>
            <h4 title="View owner's collection" [routerLink]="['/profil']" [queryParams]="{ address: ownerOfToken }" (click)="closeModal()">OWNER : <span class="owner blue-title">{{ ownerOfToken !== "Fail to fetch" ? (ownerOfToken.substring(0, 6) + '...' + ownerOfToken.substring(38)) : ownerOfToken }}</span></h4>
          </div>
        </div>
        
      </div>
  
    </div>
  </div>
  