* {
    margin: 0;
    padding: 0;
}
html, body { 
    height: 100%; 
    background: linear-gradient(135deg, #000000e6, #090d0f);
    overscroll-behavior-y: contain;
}


body.modal-open {
    overflow: hidden;
    position: fixed;
    width: 100%;
  }
  

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

@supports (-moz-appearance: none) {
    * {
        scrollbar-width: thin;
        scrollbar-color: #484d64 #252835;
    }
}

ul {
    list-style: none;
}

*::-webkit-scrollbar {
    width: 8px;
    background: #252835;
    border-radius: 20px;
}

*::-webkit-scrollbar-track {
    background: #252835;
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
    background: #484d64;
    border-radius: 20px;
}

a {
    -webkit-tap-highlight-color: transparent;
    -webkit-focus-ring-color: transparent; 
    outline: none;                         
  }

@media (max-width: 900px) {
    * {
        font-size: 14px;
    }
}

@media (max-width: 500px) {
    * {
        font-size: 12px;
    }
}
