* {
    margin: 0;
    padding: 0;
}
html, body { height: 100%; 
    overflow-x: hidden;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

@supports (-moz-appearance: none) {
    * {
        scrollbar-width: thin;
        scrollbar-color: #484d64 #252835;
    }
}

ul {
    list-style: none;
}

*::-webkit-scrollbar {
    width: 8px;
    background: black;
}

*::-webkit-scrollbar-track {
    background: #252835;
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
    background: #484d64;
    border-radius: 20px;
}

.hidden {
    display: none !important;
    position: relative;
    z-index: -100;
}
